/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* variables */
:root{
    /* FONT */
    --FF : "nunito", sans-serif;
    --FS: 1.5rem;
    --FS-SM: clamp(1.25rem, 2vh, 2.25rem);
    --FS-XL:3rem;
    /* COLOR */
    --BGCOLOR:#8a9c9b;  
    --ALT-BGCOLOR:#1E293B;
    --RADIAL-COLOR:whitesmoke;
    --LIGHT-COLOR:skyblue;
    --HEADER-COLOR:whitesmoke;


  
    

    /* GENERAL */
    --PADDING: 0.5rem;
    --SHANDOWS: 0 6px 5px -5px var(--DARK-COLOR);
    --BORDERS: 2px solid var(--DARK-COLOR);
    
}
/* square */ 
    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE-SIZE: max(300px, 100vw);


   :fullscreen{
    min-width: 100%;

  
   }


img{ 
    display:block;
    max-width: 100%;
    height: auto; 
}
/*  Utility classes */
/* header{
    font-size: medium;
    font-weight: 200;
    background-color: blue;
} */

body{
    font: var(--FF)
    min-width: 100%;
    max-width: 100%;
    background-color:var(--RADIAL-)
    }
 /*  display: flex; */  

header, 
footer{
    position: sticky;
    background-color:navy;
    color: whitesmoke; 
    text-align: center;
}
header{
    top: 0;
    
}
nav{
    background-color: #fff;
    /* padding:var(--PADDING); */
    border-bottom: var(--BORDERS);
    font-weight: border;
    display: flex;
    justify-content: space-evenly;
    color: blue;
    width: 100%;
}
nav{
    
    background-color:whitesmoke;
   
    

}
nav a,
nav a:visited{
   /*  color: #000; */
}
nav a:hover, nav a:focus{
    color:hsla(0, 0 , 20%  , 0,6);
}

footer{
    bottom: 1px;
    width: 100%;
} 
main{
    flex-grow: 1;
    padding: var(--PADDING);

     display: flex; 
     justify-content: space-evenly;
     align-items: center;
     flex-flow: row wrap;
     gap: min(4vw, 15px);

   

}
main section{
    flex-grow:1;
    padding:var(--PADDING);
}
main aside{
    background-color: whitesmoke /* hsla(0, 0% , 20%  , 0.8) */;
    color: var(--LIGHT-COLOR);
    font-size: var(--FS-SM);
    font-style:italic;
    padding: var(--PADDING);
}
   
/* features */
/* .square--highlight{
    --SQUARE-BGCOLOR: CORNFLOWERBLUE; */

.square{
     background-color: var(--RADIAL-COLOR);
     width:var(--SQUARE-SIZE);
     height: var(--SQUARE-SIZE);
     border:var(--BORDERS);
     border-radius: 15px;
     place-content: center;
     font-size: var(--FS);
     box-shadow: var(--SHANDOWS);
}

@media screen  and (min-width: 576px) {
    main{
        flex-flow: row wrap;
        justify-content: space-between;
        .header__link,
        .header__btn(
            "font-size:0.8rem"
        );
    }
}
    /* main section{
        width:calc(70% - 5px);
    }
    main aside{
        width:calc(30% - 5px); 
    }*/
    


/* aligning */
.left{
    display: block;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0%;
}
a:hover,
a:focus{
    opacity: 0.6;
}

/* div */
div{
    width:100%;
  
    place-contect:center;
    }

    div:first-child{
        transform: scale()
    }
    /* div:nth-child(2){
        transform:translateX(50);
    }
    div:last-child{

    } */
    /* text on image */
    .image-container{
        position: relative;
        display: inline-block;
    }
    .image-container img{
        display:block;
        width:100%
        height :auto;

    }
    .overlay-text{
        position:absolute;
        top:50%;
        left:50%
        transform:translate(-50%, -50%);
        padding:10px 20px;
        font-size:20px;
        text-align:right;
    }

    /* sliding pictures */
    *{box-sizing: border-box;}
    /* Slideshow container */
    .slideshow-container{
        max-width: auto;
        position: relative;
        margin: auto;
        display: flex;
    }
    /* Hide the images by default */
    .mySlides{
        display: block;
    }
    /* next & previous buttons */
    .prev, .next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width:auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s easy;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* position the "next button" to the roght */
    .next{
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* on hover,add a black background color with a little bit see-through */
  /*   .prev:hover, .next:hover {
        background-color:rgba(0,0,0,0.8);
    } */
    /* caption text */
    .text{
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position:absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;

    }
    /* number text(1/3) */
    .number text{
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;

    }
    /* the dots/bullets/indicators */
    .dot{
        cursor:pointer;
        height: 15px;
        width: 15px;
        margin:0 2px;
        background-color: #bbb;
        border-radius:50%;
        display:inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover{
        background-color:#717171;
    }
    /* fading animation */
    .fade{
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade{
        from{opacity: .4;}
        to {opacity: 1;}
    }
    .home-table{
         border-collapse: collapse;
         border-color: whitesmoke;
        
    }

    .container{ 
        width:100%;
        height: 100vh;
       
        display: flex;
        align-items: center;
        justify-content: center ;
         
    }
    .swiper{
        width: 100%;
        height: 80vh;
    }
    .swiper-slide img{
        width: 100%;

    }
     .swiper{
        width: 100%; 
        height: 80vh;
     }
     .swiper-slide img{
        width: 100;
     }
     .swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: #fff;
     }
     .swiper .swiper-pagination-bullet-active{
        background-color: #fff;
     }
     .gallery{
        margin:10px 50px;
     }
     .gallery img{ 
        transition: 1s;
        padding: 15px;
        width: 200px;
     }
     .gallery img:hover{
        filter: grayscale(100% );
        transform:scale(1.1);
     }

     ul{
        list-style-type:none ;
        margin: 0;
        padding: 0;
        
    }
    h2{
        color: brown;
        display: block;
        text-justify: auto;
    }